@charset "utf-8";
@import "mixin";

$c1: #A5B4B4;
$c2: #75A2C3;
$c3: #74A399;
$c4: #E7F4F4;
$c5: #D97991;
$c6: #000;
$c7: #000;
$c8: #000;

$base_font__color: #333;
$link-color: #21759b;
$formcolor: #3B5998;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;

